@import "../../style/shared/index";

.coordinates-display {
  position: fixed;
  top: 0;
  right: 0;
  min-width: 260px;
  min-height: 18px;
  margin: 0;
  padding: $gap-size--half;
  font-size: 11px;
  font-family: monospace;
  text-align: right;
  line-height: $gap-size;
  background-color: rgba(255, 255, 255, 0.25);
  box-shadow: inset 4px -2px 6px -3px rgba(0, 0, 0, 0.12);
  border-bottom-left-radius: 2px;

  &_section:not(:first-child) {
    margin-top: $gap-size--half;
  }

  .mouse-pos,
  .distance {
    display: inline-block;
    min-width: 75px;
    text-align: right;
  }
}