@import "../../style/shared/index";

.coordinates-display {
  position: fixed;
  top: 0;
  right: 0;
  margin: 0;
  padding: $gap-size--half;
  font-size: 13px;
  text-align: right;
  line-height: $gap-size;
  background-color: rgba(255, 255, 255, 0.25);
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: 7px;

  &_section:not(:first-child) {
    margin-top: $gap-size--half;
  }

  .mouse-pos,
  .distance {
    display: inline-block;
    min-width: 75px;
    text-align: right;
  }
}