@import "../../style/shared/index";

.panel-properties-editor {
  margin-top: $gap-size--double;

  .property-section {
    display: inline-block;
    vertical-align: top;
  }

  .parameter-input {
    display: inline-block;
    width: 5em;

    input {
      width: 4em;
    }
  }
}
