@import "./font/Roboto.css";

@import "../app/components/image-upload";
@import "../app/components/image-editor";
@import "../app/components/resizable-div";

@import "shared/index";

$primary-color: #2e878a;
$background-color: #e1ecea;

body {
  margin: 0;
  color: $primary-color;
  background-color: $background-color;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}


.main {
  margin: auto;
  text-align: left;
  width: 1294px;
  background-color: white;
  box-shadow: $panel-box-shadow;
  padding: 10px 20px;
}

canvas {
  display: block;
  margin: auto;
  box-shadow: $panel-box-shadow;
}
