@import "./font/Roboto.css";

$primary-color: #2e878a;

body {
  color: $primary-color;
  font-family: 'Roboto';
}

#comic-vm-canvas {
  canvas {
    display: block;
  }
}

#buttons {
  position: absolute;
  right: 30%;
  top: 80px;

  button {
    display: block;
    padding: 10px;
    margin: 15px;
    width: 200px;
  }
}